.tag {
  display: flex;
  width: fit-content;
  height: 42px;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1.6px;
  color: #ffffff;
  background-color: #f33f3f;
  font-family: "Urbanist";
  cursor: pointer;
  transition: 0.4s;
}

.tag:hover {
  color: #f33f3f;
  background-color: #080808;
  transition: 0.4s;
  animation: 1.2s ease-in-out 0s normal none infinite running
    trambling-animation;
}

.blackTag {
  background-color: #080808;
  color: #f33f3f;
}

.blackTag:hover {
  background-color: #f33f3f;
  color: #080808;
}

@keyframes trambling-animation {
  0%,
  50%,
  100% {
    transform: rotate(0deg);
  }
  10%,
  30% {
    transform: rotate(-3deg);
  }
  20%,
  40% {
    transform: rotate(3deg);
  }
}
