.css-13cymwt-control {
  border-radius: 0 !important;
}

.castom-select__control {
  width: 180px !important;
  border: 1px solid #f33f3f !important;
  border-radius: none !important;
  cursor: pointer !important;
  box-shadow: none !important;
  transition: 0.4s !important;
  background-color: #f33f3f !important;
  letter-spacing: 1.3px !important;
}

.castom-select__input-container {
  caret-color: transparent !important;
}

.castom-select__control--is-focused {
  background-color: #f33f3f !important;
  transition: 0.4s !important;
}

.css-tj5bde-Svg {
  color: #ffffff !important;
}

.castom-select__placeholder {
  color: #ffffff !important;
}

.castom-select__indicator-separator {
  background-color: #ffffff !important;
}

.castom-select__single-value {
  color: #ffffff !important;
  letter-spacing: 1.3px !important;
}

.castom-select__menu {
  width: 180px !important;
  box-shadow: none !important;
  letter-spacing: 1.2px !important;
}

.castom-select__option {
  color: #f33f3f !important;
  background-color: #ffffff !important;
  transition: 0.25s !important;
}

.castom-select__option:hover {
  width: 170px !important;
  background-color: #080808 !important;
  transition: 0.25s !important;
  transform: translate(10px, 0);
}
